.qika{
    width: 100%;
    margin-bottom: 120px;
    text-align: left;
   
  
    
   
}

.title{
    font-family: 'Poppins', sans-serif;
    color:#6F6F6F;
    font-weight: bold;
    border-bottom: 1px solid #BED630;
        width: 290px;
   
}

.subtitle{
font-family: 'Poppins', sans-serif;
color: #6F6F6F;
font-size: 14px;
font-weight: bold;

}

.desc{
    font-family: 'Poppins', sans-serif;
    color: #828282;
    font-size: 13px;
   
}

.textimg{
    padding: 0 190px;
}

.titledesc{
    align-items: right;
    width: 125%;
 
}



.socialsfb{
    width: 15%;
    cursor: pointer;
    display: block;
    margin-top: 160px;
    margin-bottom: 10px;
}

.socialsinsta {
    width: 15%;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}


.socialsln {
    width: 15%;
    cursor: pointer;
    display: block;
}

.meshum{
      
        width: 100px;
        height: 30px;
        border-radius: 24.6104px;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        background-color: white;
        border: 2px solid #6F6F6F;
            
}

.meshum:hover{
    background-color: black;
    color: white;
}



.textt{
   margin-left: 380px; 
   
}

.abonback{
    background-color:#FAFAFA ;

    
}


#email{
    width: 350px;
    height: 40px;
    border-radius: 24.6104px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: 1px solid #6F6F6F;
    margin-top: 60px;
    margin-left: 50px;
}


.dergo{
    width: 100px;
    height: 40px;
    border-radius: 24.6104px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color:#BED630;border-style: none;
    color: white;
    margin-left: 35px;
}


.Foto{
    width: 67%;
}

.lajme{
    margin-left: 280px;
    padding: 0 104px;
    margin-top: 100px;
    border-bottom: #BED630;
    
}

.newpar{
    color: #6F6F6F;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 12px;
    width:180px;
    border-bottom: 1px solid #BED630;
}




.newparr {
    color: #6F6F6F;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #BED630;
    width: 100px;

}

.datee{
color: #828282;
font-family: 'Poppins', sans-serif;
font-size: 13px;
}


.hrhr{
    margin-top: 60px;
    width: 89%;
}


.steni{
    width: 50%;
    margin-left: 350px;
}


.stenidesc{
    width: 70%;
}

.pipsteni{
    margin-top: 90px;
}

.hrhrr {
    margin-top: 90px;
    width: 64%;
    margin-left: 355px;
}

.mispar{
    width: 70%;
}

.misioni{
    padding: 0 104px;
    margin-left: 340px;
    margin-top: 50px;
}

.misparr{
    color: #6F6F6F;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 16px;
        border-bottom: 1px solid #BED630;
        width: 60px;
}

.thonjeza2{
    width: 5%;
    margin-bottom: 45px;
}


.thonjeza{
    width: 7%;
    margin-left: 900px;
    margin-top: 30px;
}

.kualifikimet{
    margin-top: 90px;
}

.kualdesc{
    width: 70%;
    margin-left: 427px;
}

.stenii{
    width: 50%;
    margin-left:205px;
    
}

.titlee{
    font-family: 'Poppins', sans-serif;
    color: #6F6F6F;
    font-weight: bold;
    margin-top: 15px;
    border-bottom: 1px solid #BED630;
    width: 190px;
}

.ttitle {
    font-family: 'Poppins', sans-serif;
    color: #6F6F6F;
    font-weight: bold;
    margin-top: 15px;
    border-bottom: 1px solid #BED630;
    width: 100px;
}


.bashkep{
    margin-left: 700px;
    margin-top: 55px;
}

.tit{
    font-family: 'Poppins', sans-serif;
    color: #6F6F6F;
    font-weight: bold;
    font-size: 17px;
}

.titt{
    font-family: 'Poppins', sans-serif;
    color: #828282;
    font-weight:500;
    cursor: pointer;
}


.name{
    font-family: 'Poppins', sans-serif;
    color: #6F6F6F;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 460px;
    margin-top: 30px;
    font-size: 20px;
}

.position{
    color: #6F6F6F;
    font-family: 'Poppins', sans-serif;
    margin-top: 0;
    margin-left: 508px;
    font-size: 14px;
}