/* *{
    overflow: hidden;
} */

.whole{
    background-color: #BED630;
    height: 100vh;
}

.logo {
    width: 48%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logback {
    background-color: white;
    width: 500px;
    height: 250px;
    border-bottom-left-radius: 250px;
    border-bottom-right-radius: 250px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #BED630;
    border-radius: 29.2859px;
    width: 393.6691px;
    height: 58.5718px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 150px;
    border: solid white;
    color:white;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    
}

.button:hover{
    background-color: white;
    color:#BED630;
}

.hrr{
    color:white;
    height: 1px;
    background-color: white;
    border-top: 1px solid white;
    opacity: 1;
    margin-top: 155px;
  
}

.parfoot{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: white;
    margin-top: 6px;
    margin-bottom: 0;
    
}

.foot{
    margin-left: 550px;
}


.socials{
    width: 8%;
    margin-top: 10px;
    margin-right:5px;
    cursor: pointer;
}


