.bannercontainer1 {
    position: relative;
    text-align: center;
    color: white;
    background-attachment: fixed;
    /* background-image: url("../public/images/peppers.jpg"); */
    background-attachment: fixed;
    min-height: 650px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  .hisimg{
    background-attachment: fixed;
  }
  
  .mist{
    color:#36b59c;
    font-weight: bold;
    font-size: 20px;
  }
  
  .parm{
    margin-bottom: 20px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 2em;
    left: 2em;
  }
  
  .abwhite{
    color: black;
    font-weight: bolder;
    font-size: 2em;
    text-shadow: 0 0 32px white;
    text-align: left;
  }
  
  .abwhite span{
    background-color: white !important;
    padding: 0px 20px 0px 20px;
  }
  
  .abwhite1{
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
    margin: auto;
    text-shadow: 0 0 32px white;
    text-align: left;
  }
  
  .abwhite1 span{
    background-color: white !important;
    padding: 0px 10px 6px 10px;
    font-weight: 200;
  }
  
  
  .absp{
    font-size: 18px !important;
    border: none;
    margin-right: 6px;
    color: white;
    background-color: #36b59c !important;
  }
  
  .par{
    font-size: 20px;
  }
  
  .namehist{
    text-align: center;
    margin-bottom: 20px;
    color: #36b59cd5;
    font-weight: bold;
    font-size: 20px;
  }
  .topnav2{
  
    font-size: 18px;
    background-color:#c0bcbc;
    width: 100vw;
    position: absolute;
    margin-top: -3%;
    z-index: 4;
  
    padding: 0.3% 0 0.3% 26%;
    color: white;
    font-weight: 500;

  
  }
  
  .namedes{
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
  
  
  /* @media only screen and (max-width: 600px) {
    .bannercontainer1 {
      background-image: url("../public/images/phone/misioni.jpg") !important;
    }
  } */