.nav-item a {
    text-decoration: none;
    color: white;
}
.logoNav {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 125px;
    margin-left: 120px;
    z-index: 1;
}

.nav-item{
    color: white;
    text-decoration: none;
}

.navi{
    display: flex;
    flex-direction: row;
    margin:0 23%;
    z-index:1 !important;
}

/* .logbackNav {
    background-color:#BED630;
    width: 400px;
    height: 200px;
    border-bottom-left-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 150px;
} */

.logoNav{
    margin-top: 0;
    width:500px;
}

.apliko{
    margin-left: 250px;
    width: 130.0389px;
    height: 43.2208px;
    border-radius:24.6104px;
    background-color: white;
    border-color: black;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    

}

.shq{
    margin: 0; 
    display: inline;
    cursor:pointer;
    font-family: 'Poppins', sans-serif;
}
.shq:hover{
    color:#BED630;
}
 
.de{
    margin: 0;
    display: inline;
    align-items:right;
    margin-left:30px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.de:hover{
    color:#BED630;
}

.gjuhet{
    margin-top:40px;
    margin-left:35px;
    
}


.apliko:hover{
    background-color: black;
    color: white;
}

.menu{
   
    margin-top: 40px;
    margin-right:0;
}

.menu1{
    
    width:1920px;
    height:1080px;
    background-color: #bed730cf;
    
}
 .item ul, .nav input[type="checkbox"] {
    display: none;
}

#menu:checked ~ .multi-level, .item input:checked ~ ul {
    display: block;

}

.arrow{
   width: 10px;
   height: 20px;
   vertical-align: middle;
   float: left;
   z-index: 0;
}

 .item input + .arrow {
    transform: rotate(-90deg);
    transition: 0.1s;
 }

 .item input:checked + .arrow {
    transform: rotate(0deg);
    transition: 0.1s;
 }

.label:hover {
    cursor: pointer;
}

.label{
    width: 100%;
    display: block;
    z-index: 3;
    position:relative;
}

.main_nav{
    width:104%;
    background-color:#FAFAFA ;
    overflow-x:hidden;
    border-bottom: 1px solid white;
    overflow-x:hidden ;
    /* border-bottom: 1px solid white; */
    
}
/* 
#nav-icon{
    font-size: 28px;

    padding-left: 1em;
    color: white;
   
}  */

.nav ul, .nav li, label {
    line-height: 20px;
    margin: 0;
    padding: 0%;
    list-style: none;
    text-decoration: none;
    color:#6D6D6D;
    font-weight: 100;
    width: 100%;
}

.item ul {
    padding: 0 0.25em;
}

.nav li a {
    line-height: 50px;
        margin: 0;
        list-style: none;
        text-decoration: none;
        color: #6D6D6D;
        font-weight: 100;
        
}


.navbar-expand-md {
    z-index: 99;
 
    padding: 0;
}
.navbar-expand-md .container .navbar-toggler {
    display: block;
}
.navbar-collapse {
    width: 100%;
    background: #bdd630f6;
    position: fixed;
    z-index: 9;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    
}
.navbar-collapse ul.navbar-nav {
    position: absolute;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navbar-collapse ul.navbar-nav li {
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
    padding: 0;
    margin-bottom: 20px;
}
.navbar-collapse ul.navbar-nav{
    color: white;
    font-size: 25px;
    padding: 0;
}


.optitle1{
    text-decoration: none;
    color: white;
}
.navbar-collapse.show {
    min-height: 100vh;
    visibility: visible;
    opacity: 1;
    z-index: 9;
}
.navbar-collapse.show ul li {
    opacity: 1;
}
.navbar-collapse.show ul li:nth-child(1) {
    transition-delay: 0.06s;
}
.navbar-collapse.show ul li:nth-child(2) {
    transition-delay: 0.12s;
}
.navbar-collapse.show ul li:nth-child(3) {
    transition-delay: 0.18s;
}
.navbar-collapse.show ul li:nth-child(4) {
    transition-delay: 0.24s;
}
.navbar-collapse.show ul li:nth-child(5) {
    transition-delay: 0.3s;
}
.navbar-collapse.show ul li:nth-child(6) {
    transition-delay: 0.36s;
}
.navbar-toggler {
    padding: 0;
}
.navbar-toggler #nav-icon {
    width: 30px;
    height: 22px;
    position: relative;
    margin: 0 auto;
    transform: rotate(0deg);
    cursor: pointer;
}
.navbar-toggler #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #BED630;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}


.apliko{
    margin-left: 35px;
    margin-top:30px;
}

.nav-icon{
    display: flex;
    flex-direction: row;
}


.container{
    margin-top: 40px;
}

.dropdown-menu{
    background-color: #BED630;
    color: black;
    text-decoration: none;
}