.nav-link {
    color: #6D6D6D !important;
    background-color: white !important;
    width: 240px !important;
    font-family: 'Poppins' !important;
    border: 1px solid #6F6F6F !important ;
    border-radius: 10px;
    
    
}

.nav-link:hover{
    color: white !important;
    background-color: #6D6D6D !important;
}
.nav-link:focus {
    color: white !important;
    background-color: #6D6D6D !important;
}


.nav-tabs{
    display: inline-flex;
}


.mvvtitle{
    color: #6D6D6D;
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 60px;
    font-size: 20px;
    border-bottom: 1px solid #6D6D6D ;
    margin-bottom: 2em;
}

.mvvdesc{
    color: #6D6D6D;
    font-family: 'Poppins';
   
}




