.nav-link {
    color: #6D6D6D !important;
    background-color: white !important;
    width: 250px !important;
    font-family: 'Poppins' !important;
    border: 1px solid #6F6F6F !important ;
    
}

.nav-link:hover{
    color: white !important;
    background-color: #6D6D6D !important;
}



.nav-tabs{
    display: inline-flex;
}


.mvvtitle{
    color: #6D6D6D;
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 60px;
    font-size: 20px;
    border-bottom: 1px solid #6D6D6D ;
    width: 25%;
}

.mvvdesc{
    color: #6D6D6D;
    font-family: 'Poppins';
    margin-top: 40px;
}

.mvv{
    width: 70%;
}


.mvvwhole{
    margin-left: 390px;
}